<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grupo I - Simulación III</title>
    <link rel="shortcut icon" type="image/png" href="/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="stylesheet" href="/css/customstyles.css" />
</head>