<!-- Sidebar -->
<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img">
                <img src="/images/logos/logo-light.svg" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                    <span class="hide-menu">Opciones</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/usuarios" aria-expanded="false">
                        <span>
                            <iconify-icon icon="line-md:account" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Usuarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/libros" aria-expanded="false">
                        <span>
                            <iconify-icon icon="line-md:text-box" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Libros</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/prestamos" aria-expanded="false">
                        <span>
                            <iconify-icon icon="line-md:text-box-multiple" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Préstamos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/devoluciones" aria-expanded="false">
                        <span>
                            <iconify-icon icon="line-md:file-document-remove" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Devoluciones</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!--  Sidebar End -->