<!doctype html>
<html lang="en">

<!-- Include Head -->
<%- include('./layout/head') %>

        <body class="dark-mode">

                <!--  Body Wrapper -->
                <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
                        data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

                        <!-- Include Sidebar -->
                        <%- include('./layout/sidebar') %>

                                <!-- Body -->
                                <div class="body-wrapper">

                                </div>

                </div>

                <!-- Include Scripts -->
                <%- include('./layout/scripts') %>
        </body>

</html>